.summary {
    max-width: 1000px;
    border: 1px solid black;
    padding: 15px;
    border-radius: 4px;
    max-height: 500px;
    overflow: scroll;
    width: fit-content;
}

.assetImage {
    width: 400px;
}

.tab {
    display: inline-block;
    padding: 5px;
    border: 1px solid black;
    margin-right: 2px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
}

.tab.activeTab {
    background-color: #a8dadc;
}

table {
    border: 2px solid black;
}

.tableHeadRow th {
    background-color: #1d3557;
    color: white;
}

.tableWrapper {
    padding: 20px 0;
}

tr:nth-child(odd) {
    background-color: #a8dadc;
}

tr {
    cursor: pointer;
}

tr:hover {
    background-color: #e63946;
}

.sort {
    height: 13px;
    float: right;
    margin-right: 10px;
    margin-top: 3px;
}

th {
    height: 25px;
    cursor: pointer;
}

td {
    padding: 6px;
}

.summary::-webkit-scrollbar {
    -webkit-appearance: none;
}

.summary::-webkit-scrollbar:vertical {
    width: 11px;
}

.summary::-webkit-scrollbar:horizontal {
    height: 11px;
}

.summary::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white;
    /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}