nav {
    height: 100%;
    padding-top: 60px;
    border-right: 1px solid black;
    background-color: #1d3557;
    position: fixed;
}

a {
    text-decoration: none;
    color: black;

}

.ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 16px;
}

.spaceButton.active {
    background-color: #a8dadc;
}

.spaceButton {
    list-style-type: none;
    padding: 10px;
    border: 1px solid #737171;
    background-color: #f1faee;
    margin-bottom: 5px;
    text-align: center;
    width: 135px;
    border-radius: 4px;
}

.spaceButton:hover {
    background-color: #a8dadc;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}